<h1>Tamagotchi</h1>

<div class="container">
  <form action="/tamagotchi" method="post">
    <label for="name">Name your pet:</label>
    <input id="name" name="name" type="text">

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
